*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-size: cover;
}

.mPrincipal{
    max-width: 900px;
    margin: auto;
    background-color: #8E8989;
    font-size: 15px;
    margin-top: 50px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.horizontal{
    list-style: none;
    display: flex;
    
    justify-content: space-around;
}

.horizontal > li > a{
    display: block;
    padding: -25px 20px;
    color: white;
    text-decoration: none;
}

.horizontal > li:hover{
    background-color: red;
}

.vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.horizontal li:hover .vertical{
    display: block;
}


.vertical li:hover{
    background-color: #8E8989;
}

.vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}